In [1]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
mouse_drug_data_to_load = "data/mouse_drug_data.csv"
clinical_trial_data_to_load = "data/clinicaltrial_data.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data
mouse_file = pd.read_csv(mouse_drug_data_to_load)
clinical_trial_file = pd.read_csv(clinical_trial_data_to_load)

# Combine the data into a single dataset
combined_df = pd.merge(mouse_file, clinical_trial_file,
                                 how='outer', on='Mouse ID')

# Display the data table for preview
combined_df.head()

  Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     f234  Stelasyn          0           45.000000                 0
1     f234  Stelasyn          5           47.313491                 0
2     f234  Stelasyn         10           47.904324                 0
3     f234  Stelasyn         15           48.735197                 1
4     f234  Stelasyn         20           51.112713                 2

## Tumor Response to Treatment

In [2]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
grouped = combined_df.groupby(["Drug","Timepoint"])

mean_tumor = grouped.mean()["Tumor Volume (mm3)"]

# Convert to DataFrame
avg_t_vol = pd.DataFrame(mean_tumor) 

# Preview DataFrame
avg_t_vol.head()

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                   45.000000
          5                   44.266086
          10                  43.084291
          15                  42.064317
          20                  40.716325

In [3]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint
sem_tumor = grouped.sem()["Tumor Volume (mm3)"]

# Convert to DataFrame
sem_t_vol = pd.DataFrame(sem_tumor) 

# Preview DataFrame
sem_t_vol.head()

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                    0.000000
          5                    0.448593
          10                   0.702684
          15                   0.838617
          20                   0.909731

In [4]:
# Minor Data Munging to Re-Format the Data Frames
table_mean=pd.pivot_table(avg_t_vol, values = ('Tumor Volume (mm3)'), index=['Timepoint'], columns=['Drug'], aggfunc=np.mean)

# Preview that Reformatting worked
table_mean

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000
5,44.266086,46.503051,47.062001,47.389175,46.796098,47.125589,47.248967,43.944859,47.527452,46.851818
10,43.084291,48.285125,49.403909,49.582269,48.694210,49.423329,49.101541,42.531957,49.463844,48.689881
15,42.064317,50.094055,51.296397,52.399974,50.933018,51.359742,51.067318,41.495061,51.529409,50.779059
20,40.716325,52.157049,53.197691,54.920935,53.644087,54.364417,53.346737,40.238325,54.067395,53.170334
25,39.939528,54.287674,55.715252,57.678982,56.731968,57.482574,55.504138,38.974300,56.166123,55.432935
30,38.769339,56.769517,58.299397,60.994507,59.559509,59.809063,58.196374,38.703137,59.826738,57.713531
35,37.816839,58.827548,60.742461,63.371686,62.685087,62.420615,60.350199,37.451996,62.440699,60.089372
40,36.958001,61.467895,63.162824,66.068580,65.600754,65.052675,63.045537,36.574081,65.356386,62.916692
45,36.236114,64.132421,65.755562,70.662958,69.265506,68.084082,66.258529,34.955595,68.438310,65.960888

In [ ]:
#plot error bars
#ax = table_mean.plot(figsize=(12,8), yerr = sem_t_vol, legend = False)

#reset color cycle so that the marker colors match
#ax.set_prop_cycle(None)

#plot the markers
#df.plot(figsize=(12,8), style=['^-', 'o--', 'x-.', 'D-'], markersize=14, ax = ax)

#plt.show()

In [ ]:
# Show the Figure
plt.show()

![Tumor Response to Treatment](../Images/treatment.png)

## Metastatic Response to Treatment

In [5]:
# Store the Mean Met. Site Data Grouped by Drug and Timepoint 
mean_met = grouped.mean()["Metastatic Sites"]

# Convert to DataFrame
avg_met = pd.DataFrame(mean_met) 

# Preview DataFrame
avg_met.head()

                     Metastatic Sites
Drug      Timepoint
Capomulin 0                  0.000000
          5                  0.160000
          10                 0.320000
          15                 0.375000
          20                 0.652174

In [6]:
# Store the Standard Error associated with Met. Sites Grouped by Drug and Timepoint 
sem_met = grouped.sem()["Metastatic Sites"]

# Convert to DataFrame
sem_met = pd.DataFrame(sem_met) 

# Preview DataFrame
sem_met.head()

                     Metastatic Sites
Drug      Timepoint
Capomulin 0                  0.000000
          5                  0.074833
          10                 0.125433
          15                 0.132048
          20                 0.161621

In [7]:
# Minor Data Munging to Re-Format the Data Frames
met_resp_table=pd.pivot_table(avg_met, values = ('Metastatic Sites'), index=['Timepoint'], columns=['Drug'], aggfunc=np.mean)

# Preview that Reformatting worked
met_resp_table.head(3)

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,0.00,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00,0.000000,0.000000
5,0.16,0.380952,0.280000,0.304348,0.26087,0.375000,0.320000,0.12,0.240000,0.166667
10,0.32,0.600000,0.666667,0.590909,0.52381,0.833333,0.565217,0.25,0.478261,0.500000

![Metastatic Spread During Treatment](../Images/spread.png)

## Survival Rates

In [8]:
# Store the Count of Mice Grouped by Drug and Timepoint (W can pass any metric)
mouse_count = grouped["Mouse ID"].count()

# Convert to DataFrame
mouse_count = pd.DataFrame(mouse_count) 

# Preview DataFrame
mouse_count.head()

                     Mouse ID
Drug      Timepoint
Capomulin 0                25
          5                25
          10               25
          15               24
          20               23

In [9]:
# Minor Data Munging to Re-Format the Data Frames 
survival_table=pd.pivot_table(mouse_count, values = ('Mouse ID'), index=['Timepoint'], columns=['Drug'], aggfunc=np.mean)

# Preview that Reformatting worked
met_resp_table.head(3)

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,0.00,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00,0.000000,0.000000
5,0.16,0.380952,0.280000,0.304348,0.26087,0.375000,0.320000,0.12,0.240000,0.166667
10,0.32,0.600000,0.666667,0.590909,0.52381,0.833333,0.565217,0.25,0.478261,0.500000

In [ ]:
# Generate the Plot (Accounting for percentages)

# Save the Figure

# Show the Figure
plt.show()

![Metastatic Spread During Treatment](../Images/survival.png)

## Summary Bar Graph

In [13]:
# Calculate the percent changes for each drug
vol_p_start = avg_t_vol.groupby("Drug")["Tumor Volume (mm3)"].first()
vol_p_end = avg_t_vol.groupby("Drug")["Tumor Volume (mm3)"].last()
vol_p_change = (vol_p_end-vol_p_start)/vol_p_start*100

# Display the data to confirm
vol_p_change

Drug
Capomulin   -19.475303
Ceftamin     42.516492
Infubinol    46.123472
Ketapril     57.028795
Naftisol     53.923347
Placebo      51.297960
Propriva     47.241175
Ramicane    -22.320900
Stelasyn     52.085134
Zoniferol    46.579751
Name: Tumor Volume (mm3), dtype: float64

In [ ]:
# Store all Relevant Percent Changes into a Tuple


# Splice the data between passing and failing drugs


# Orient widths. Add labels, tick marks, etc. 


# Use functions to label the percentages of changes


# Call functions to implement the function calls


# Save the Figure


# Show the Figure
fig.show()

![Metastatic Spread During Treatment](../Images/change.png)